
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  overscroll-behavior-y: auto;
  overscroll-behavior-x: auto;
}

/* General styles (common for both themes) */
.App {
  font-family: Arial, sans-serif;
  text-align: center;
  overflow-x: hidden; /* Hides horizontal overflow */
  display: flex; /* Enable flexbox */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center child */
  height: 100vH;
}

/* Light Theme Style */
body.light-mode, .App.light-mode {
  background-color: #e0e0e0;
  color: #333;
}

/* Dark Theme Style */
body.dark-mode, .App.dark-mode {
  background-color: #333;
  color: #fff;
}

/* Positioning of the menu*/
.menu-container {
  position: relative; /* Container for the relative positioning of the dropdown */
  top: 83%; /* Positioned just below the button */
  left: -480%;
}

/* Toast Messages Styling */
.toast {
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
  font-family: 'Space Mono', monospace;
}
